*{
    box-sizing: border-box;
    margin: 0;
}
main{
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
}

h2{
    font-family: "Ubuntu", sans-serif;
    color: #404040;
    font-size: 30px;
}


ul li{
    font-family: 'Open-sans', sans-serif;
    color: #404040;
    list-style-type: circle;
    margin: 15px;
}

.request{
    color: transparent;
    cursor: pointer;
    border: none;
}

.approve-friend{
    background-image: url(../images/btn-aanvaarden.png);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 60px;
}

.deny-friend{
    background-image: url(../images/btn-weigeren.png);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 60px;
}

form{
    margin-bottom: 20px;
}

main div{
    margin-bottom: 50px;
    margin-top: 30px;
}

main div p{
    font-family: 'open-sans', sans-serif;
    color: #404040;
    padding: 15px 0px;
}

li a{
    color: #404040;
}