*{
    margin: 0;
    box-sizing: border-box;
}

main{
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
}

h2{
    font-family: "Ubuntu", sans-serif;
    color: #404040;
    font-size: 30px;
}


tr td{
    font-family: 'Open-sans', sans-serif;
    color: #404040;
    list-style-type: circle;
    margin: 15px;
    font-weight: bold;
    font-size: 20px;
}

td{
    padding-top: 40px;
    padding-right: 15px;
}

.start-chat-btn{
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../images/btn-chat.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    width: 83px;
    height: 46px;
    border: none;
}

#chatbox{
    width: 90%;
    margin: 30px auto;
    height: 50vh;
}

#chat-output{
    height: 100%;
    width: 100%;
    background-color: rgb(247, 247, 247);
    border-radius: 0px 0px 5px 5px;
    overflow-y: scroll;
    
}
#scroll{
    display: flex;
    flex-direction: column;
}


#text-input{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #b3b3b3;
    margin-top: 10px;
}

#text-submit{
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    background-color: #404040;
    color: white;
    border: none;
    margin-top: 10px;
    margin-left: 20px;

}

#form-chat{
    display: flex;
    justify-content: space-between;
}

h3{
    font-family: "Ubuntu", sans-serif;
    color: #404040;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #f5f5f5;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

.receiver{
    width: 60%;
    height: fit-content;
    padding: 5px;
    background-color: #ffffff;
    margin: 5px;
    font-family: 'open-sans', sans-serif;
    padding: 15px;
    border-radius: 20px;
}

.sender{
    width: 60%;
    height: fit-content;
    padding: 5px;
    background-color: #ffffff;
    align-self: flex-end;
    margin: 5px;
    font-family: 'open-sans', sans-serif;
    padding: 15px;
    border-radius: 20px;
}


.chat-message{
    font-weight: bold;
}

.chat-person{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 14px;
}



#terugknop{
    font-family: 'open-sans', sans-serif;
    color: #404040;
    font-weight: bold;
    margin: 30px 0px 0px 30px;
    display: inline-block;
    text-decoration: none;
    position: static;
}

.match-row th, .match-row td{
    font-family: 'open-sans', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.match-row{
    background-color: rgb(255, 255, 255);
}

#match-reason{
    background-color: rgb(250,139,67);
    border-radius: 5px;
    margin: 20px auto 50px auto;
    
}

h3{
    text-align: center;
}