*{
    margin: 0;
}
section{
    width: 100%;
    margin: 50px auto 0px auto;
    height: 100%
}
#logo-container img{
    width: 20%;
    margin-bottom: 50px;
}
#logo-container{
    width: 100%;
    text-align: center;
}
body{
    background: rgb(250,139,67);
    background: linear-gradient(90deg, rgba(250,139,67,1) 0%, rgba(239,52,84,1) 100%);
}
h2{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0px auto;
    font-size: 30px;
}
label{
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-top: 20px;
    display: block;
    font-size: 1em;
}
form div{
    margin: 0px auto;
    width: 90%;
}
#firstName, #lastName, #email, #password, #passwordConfirmation{
    border: none;
    padding: 10px 0px 10px 10px;
    display: inline-block;
    margin-top: 8px;
    background-color: white;
    opacity: .3;
    width: 100%;
    border-radius: 10px;
}
input{
    margin: 40px 0;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
