*{
    margin: 0;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    color: #FA8B43;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0px auto;
    font-size: 30px;
}
label, a{
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding-top: 20px;
    display: block;
    font-size: 1em;
}
form div{
    margin: 0px auto;
    width: 90%;
}
#description, #province, #town, #year, #passion, #os, #movie, #game, #music, #sport, #buddy, #gamegenre{
    border: none;
    padding: 10px 0px 10px 10px;
    display: inline-block;
    margin-top: 8px;
    background-color: rgb(243, 243, 243);
    width: 100%;
    border-radius: 10px;
    box-shadow: 6px 6px 5px -6px rgb(151, 151, 151);
}
#avatarLabel{
    color: rgb(81, 78, 236);
    text-decoration: underline;
    display: inline-block;
}
#submitBtn{
    margin: 40px 0;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #FA8B43;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#output{
    border-radius: 100px;
}
@media (min-width: 800px) {
    form div{
        width: 70%;
    }
    h2{
        width: 70%;
    }
}
@media (min-width: 992px){
    
    
    h2{
        font-size: 45px;
    }
    body{
        background: rgb(250,139,67);
        background: linear-gradient(90deg, rgba(250,139,67,1) 0%, rgba(239,52,84,1) 100%);
    }
    form{
        background-color: white;
        width: 70%;
        margin: 100px auto;
    }
}
@media (min-width: 1400px){
    form{
        width: 40%;
    }
}